html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#oval {
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 100px / 50px;
  }
#triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
    position: absolute;
    left: 520px;
    top: 369px;
  }
  #triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
    position: absolute;
    left: 433px;
    top: 370px;
}
#trapezoid {
    border-bottom: 100px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    position: absolute;
    top: 512px;
    left: 450px;
  }