td {
    width: 300px;
    height: 150px;
    border: 5px solid #000;
}
table {
    background-color: rgba(250, 37, 0, 0.938);
    border-collapse: collapse;
    font-weight: 600;
    color: white;
    font-size: 40px;
}
.altop { vertical-align: top;}
.albottom { vertical-align: bottom;}
.alcenter { text-align: center;}
.alright {text-align: right;}