table{
    border-spacing: 0;
    border-collapse: collapse;
}
td, th{
    height: 30px;
    vertical-align: middle ;
    border: 1px solid #fff;
}
tr td:nth-child(1), tr td:nth-child(n+3){
    text-align: center;
}
tr th:nth-child(1), tr th:nth-child(n+3){
    text-align: center;
}
tr th:nth-child(2){
    text-align: left;
}
th{
    color: #fff;
    font-weight: 600;
    background: rgb(61, 128, 252);
    border-bottom: 3px solid #fff;
}
tr:nth-child(2n+2) td{
    background: rgb(183, 183, 201);
}
tr:nth-child(2n+3) td{
    background: rgb(204, 204, 207);
}
tr td:nth-child(1){
    width: 30px;
}
tr td:nth-child(2){
    width: 300px;
}
tr td:nth-child(n+3){
    width: 150px;
}