.div{
    position: relative;
    float: left;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    font-size: 30px;}
.main{
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);}
.header1{
    width: 100px;
    height: 100px;
    background:#000}
.header2{
    width: 200px;
    height: 100px;
    background:rgb(49, 49, 49)}
.footer1, .footer3{
    width: 100px;}
.footer2{
    width: 200px;}
.footer{
    width: 100px;
    height: 100px;
    background: rgb(30, 3, 184);}
.footer-head{
    width: 200px;
    height: 100px;
    background: greenyellow;
    line-height: 200px;}
.footer-foot{
    width: 100px;
    height: 100px;
    background: rgb(97, 158, 4);}
.footer3{    
    line-height: 300px;
    height: 300px;
    background: rgb(36, 59, 1);}