td {
    width: 100px;
    height: 70px;
    border: 1px solid #000;
}
table {
    background-color: rgb(252, 249, 249);
    border-collapse: collapse;
    font-weight: 600;
    color: rgb(7, 7, 7);
    font-size: 40px;
    text-align: center;
}
#othday {color: rgb(175, 166, 166);}
td:nth-child(n+6) {color: red;}

.knowledgeholid {
    color: red;
    background: url(../imags/Knowledge_day.jfif);
    background-size: cover;}

.HappyBirthday {
    color: red;
    background: url(../imags/Happy_Birthday_Yan.jpg);
    background-size: cover;}
.programmersholid {
    color: red;
    background: url(../imags/programmers_day.jpg);
    background-size: cover;}